.cakes{
    padding: 1em;
    background-color: var(--white);
    margin-bottom: 3rem;
    h2{
        font-size: 20px;
        font-weight: 400;
        font-style: italic;
        color: var(--blue);
    }
    .cakes-container{
        .cake{
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 140px;
            margin: 2rem 0;
            padding-bottom: 2rem;
            border-bottom: 1px solid #28528142;
            &:last-child{
                border-bottom: none;
                margin-bottom: 0;
            }
            .cake-info{
                width: calc(100% - 100px);
                margin-right: 1rem;
                align-self: center;
                h3{
                    font-size: 16px;
                    font-weight: 400;
                    color: var(--blue);
                    margin-bottom: 10px;
                }
                p{
                    font-size: 10px;
                    font-weight: 400;
                    text-align: justify;
                    color: var(--blue);
                }
            }
            .inverse{
                order: 1;
                margin-left: 1rem;
                margin-right: 0;
            }
            .cake-img{
                width: 100px;
                height: 100px;
                aspect-ratio: 1/1;
                align-self: center;
                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    padding: 0 5px;
                    background-color: var(--dark-cream);
                    border-radius: 10px;
                }
            }
        }
    }
}
@media (min-width: 280px){
    .cakes{
        .cakes-container{
            .cake{
                .cake-info{
                    width: calc(100% - 120px);
                }
                .cake-img{
                    width: 120px;
                    height: 120px;
                }
            }
        }
    }
}
@media (min-width: 425px){
    .cakes{
        .cakes-container{
            .cake{
                width: calc(100% - 2rem);
                height: 180px;
                margin: 2rem 1rem;
                .cake-info{
                    width: calc(100% - 150px);
                    margin-right: 2rem;
                    h3{
                        font-size: 16px;
                    }
                    p{
                        font-size: 12px;
                    }
                }
                .inverse{
                    margin-right: 0;
                    margin-left: 2rem;
                }
                .cake-img{
                    width: 150px;
                    height: 150px;
                }
            }
        }
    }
}
@media (min-width: 500px){
    .cakes{
        .cakes-container{
            .cake{
                .cake-info{
                    h3{
                        font-size: 18px;
                    }
                    p{
                        font-size: 14px;
                    }
                }
            }
        }
    }
}/*
@media (min-width: 768px){
    .cakes{
        .cakes-container{
            .cake{
                height: 230px;
                .cake-info{
                    
                }
                .cake-img{
                    
                }
            }
        }
    }
}
*/