footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    gap: 1em;
    padding: 1.5em 1em;
    height: 150px;
    background-color: var(--dark-cream);
    .nav-footer{
        height: 100%;
        .nav-bar{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            .nav-item{
                list-style: none;
                .nav-link{
                    text-decoration: none;
                    color: var(--blue);
                    font-size: 16px;
                }
            }
        }
    }
    .logo-container{
        width: 5em;
        img{
            width: 100%;
            opacity: .75;
        }
    }
    .redes-container{
        height: 100%;
        .redes{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            .red-item{
                display: flex;
                flex-direction: column;
                align-items: center;
                list-style: none;
                margin-bottom: 8px;
                .red-link{
                    i{
                        font-size: 22px;
                        color: var(--blue);
                    }
                    span{
                        display: none;
                    }
                }
            }
        }
    }
}