#presentation{
    position: relative;
    height: 30vh;
    padding: 1em;
    overflow: hidden;
    &::after{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background: radial-gradient(circle, rgba(213,186,181,1) 39%, rgba(219,194,190,1) 60%, rgba(226,204,200,1) 75%, rgba(234,214,210,1) 90%, rgba(247,232,229,1) 100%);
        width: 150%;
        height: 120%;
        z-index: -1;
    }
    h1{
        position: absolute;
        font-size: 28px;
        font-weight: 300;
        color: var(--blue);
        font-family: 'Playfair Display', serif;
        z-index: 1;
    }
    p{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        max-width: 40%;
        font-size: 14px;
        font-weight: 300;
        color: var(--blue);
        z-index: 1;
    }
    img{
        position: absolute;
        right: -10%;
        bottom: -40%;
        width: 180px;
        z-index: 1;
    }
}