:root{
    --light-cream: #F7E8E5;
    --dark-cream: #D5BAB5;
    --dark-cream-75: #d5bab5aa;
    --cream: #EED9D4;
    --white: #FAF8F7;
    --blue: #285281;
    --blue-hover: #2c6cb6;
    --red: #D45C64;
}